.home {

	.full-screen {
		background-image: url(../../imgs/beach.png);
		@include coverphoto;
      	height:500px;
		@media (min-width:700px){
			height:90vh;
		}
		@media (max-height:555px){
			height:500px;
		}
	}
	.header-background {
		background-color:rgba(226,156,74,0.6);
		height:500px;
		@media (min-width:700px){
			height:90vh;
		}
		@media (max-height:555px){
			height:500px;
		}
	}
	.header-text {
		color:$white;
		padding-top:50px;
		h1 { 
			top:100px;
			padding-bottom: 30px;
			font-weight: 900;
			z-index: 10;
		}
		h3 {
			font-weight: 300;
			padding-bottom: 70px;
			max-width: 800px;
			margin:0 auto;
		}
		@media (min-width:500px){
			padding-top:20px;
		}
		@media (min-width:700px){
			padding-top:250px;
		}
		@media (min-width:1200px){
			padding-top:15%;
		}
	}
	.millions {
		margin: 100px auto;
		background-color: $white;
		z-index: 20;
		h1 {
			@include bigfont(100);
			font-weight: 100;
		}
		h3 {
			padding-top:40px;
			font-weight: 300;
			max-width: 800px;
			line-height: 33px;
			margin:0 auto;
		}
	}

	.photo {
		height:80vh;
	}
	.beach {
		background-image: url(../../imgs/beach.jpg);
		@include coverphoto;
	}
	.ipad{
		background-image: url(../../imgs/man.jpg);
		@include coverphoto;
	}
	.girl{
		background-image: url(../../imgs/girl.jpg);
		@include coverphoto;
	}
	.divider {
		background-color:$white;
		h1 {
			padding-top:30px;
			line-height: 150px;
			@include bigfont(40);
			color:black;
		}
		p {
			padding-bottom: 40px;
		}
	}
	.discover {
		h1{
			margin:100px 0 40px 0;
		}
		.image {
			height:300px;
			width:100%;
			margin: 50px 0;
			background-image: url(../../imgs/car.png);
			@include coverphoto;
		}
		p {
			margin: 40px 0;
		}
	}
}